blog h1{
 text-align: center;
 color: black;
}

nav li{
 padding-left: 1em;	
}

mynav button{
 background-color: transparent;
 border: none;
 color: black;
}

mynav button:hover{
 background-color: red;
 border: none;
 color: white;
}

mynav p:hover{
 background-color: red;
 color: white;	
}

mynav .dropdown-menu{
 padding-left: 1em;
 padding-top: 0.5em;	
}

output{
 width: 90vw;
 margin-left: 5vw;
 overflow: auto; 
}

output .place{
 padding: 2%;
}

output .place:hover{
 background-color: orange;
}

output .place img{
 width: 90%;

}

.place:hover .moreInfo{
 display:  block;
 position: absolute;
 left: 30%;
 top:  30%;	
 background-color: lightgrey;
 border: solid black;
 border-radius: 12%;
 padding: 5%;
}

.place .moreInfo{
 display: none;
}

.moreInfo span{
 color: darkblue;
 font-weight: bold;
}

